@model (IEnumerable<AccountModel> Accounts, string Id)
@{
    ViewData["Title"] = "Accounts";
    ViewData["ActivePage"] = ManageNavPages.Accounts;
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
<h1 class="fs1-inherit">@ViewData["Title"]</h1>
<h2 class="fs2-inherit">Manage accounts</h2>
<hr class="w-100">
<div class="row justify-content-center">
    @if (!string.IsNullOrEmpty(Model.Id))
    {
        <partial name="_EditNav" model="@Model.Id" />
    }
    else
    {
        <partial name="_ProfileNav" />
    }
    <div class="col-12 col-md-9">
        <form id="form" onsubmit="return false">
            <p class="fw-bold fs4-inherit">Accounts</p>
            <table class="table table-bordered" id="usersTable">
                <thead>
                    <tr class="text-center d-none d-lg-table-row">
                        <th>Account name</th>
                        <th>Account role</th>
                    </tr>
                </thead>
                <tbody class="tbody-stripped">
                    @foreach (var account in Model.Accounts)
                    {
                        <tr class="text-center d-flex flex-column d-lg-table-row bg-white">
                            <td class="text-break"><p class="m-0" onclick="Collapse(this)">@account.Name</p></td>
                            <td class="text-break"><p class="m-0">@account.Role</p></td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>




