@model UserInfoModel
@{
    ViewData["Title"] = "Manage";
    ViewData["ActivePage"] = ManageNavPages.EditUser;
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />

<div class="d-flex justify-content-between">
    <h2 class="m-0">@ViewData["Title"]</h2>
    <btn class="btn btn-light text-black"><i class="fa fa-pen-alt"></i> Edit mode</btn>
</div>

<h4>Manage users</h4>
<hr class="w-100">
<div class="row justify-content-center">
    <partial name="_EditNav" model="@Model.Id"/>
    <div class="col-12 col-md-9">
        <h4>@string.Format("Edit {0}", Model.Name)</h4>
        <form asp-controller="Manage" asp-action="Update" asp-route-id="@Model.Id" method="post">
            <div class="mb-3">
                <label class="form-label" asp-for="Name">Username</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Role">Role</label>
                <div class="form-check p-0">
                    <input checked type="radio" asp-for="Role" value="StandardUser" />
                    Standard
                </div>
                <div class="form-check p-0">
                    <input type="radio" asp-for="Role" value="Administrator" />
                    Administrator
                </div>
            </div>
            <button type="submit" class="btn pa-admin-success-btn">Save</button>
        </form>
    </div>
</div>

<div id="modalContainer"></div>