@inherits CustomRazorPage<UsersModel>
@{
    ViewData["Title"] = "Manage";
    ViewData["ActivePage"] = ManageNavPages.Manage;
}

<partial name="_ModalPartial" model="@(new ModalMessage { Message = $"Are you sure you want to delete this user?" })" />
<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />

<h1 class="fs1-inherit">@ViewData["Title"]</h1>
<h2 class="fs2-inherit">Manage users</h2>
<hr class="w-100">
<div class="row justify-content-center">
    <div id="alertContainer"></div>
    <partial name="_ProfileNav" />
    <div class="col-12 col-md-9">
        <partial name="_UsersTabPartial" model="false" />
        <form id="form" onsubmit="return false">
            @if (Model.ExtendedUsers.Any())
            {
                <p class="fw-bold fs4-inherit">All users</p>
                <table class="table table-bordered" id="usersTable">
                    <thead>
                        <tr class="text-center d-none d-lg-table-row">
                            <th>Username</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="tbody-stripped">
                        @foreach (var user in Model.ExtendedUsers)
                        {
                            <tr class="text-center d-flex flex-column d-lg-table-row bg-white" id="itemsRow">
                                <td class="text-break"><p class="m-0" onclick="Collapse(this)">@user.Name.ToUpperFirst()</p></td>
                                <td class="align-middle px-3 d-none d-lg-table-cell">@user.Email</td>
                                <td class="align-middle px-3 d-none d-lg-table-cell">
                                    <a asp-controller="Account" asp-action="Profile" asp-route-id="@user.Id">
                                        <i class="fa fa-eye cursor-pointer text-secondary" role="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="View details"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @if (Model.UnconfirmedUsers > 0)
                {
                    <p class="m-0">+ @Model.UnconfirmedUsers Unconfirmed</p>
                }
            }
            else
            {
                <a class="btn pa-admin-success-btn" href="/Identity/Account/Register">Add users</a>
            }
        </form>
    </div>
</div>

<script src="~/js/ManageUsersScript.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}