@inherits CustomRazorPage<(IEnumerable<UserInfoModel> CurrentAccountUsers, IEnumerable<IdentityUserExtended> AllUsers)>
@inject UserManager<IdentityUserExtended> UserManager
@{
    ViewData["Title"] = "Manage";
    ViewData["ActivePage"] = ManageNavPages.Manage;
    var modalActionMessage = User.IsInRole("Administrator") ? "delete" : "dismiss";
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
<h1 class="fs1-inherit">@ViewData["Title"]</h1>
<h2 class="fs2-inherit">Manage users</h2>
<hr class="w-100">
<div class="row justify-content-center">
    <div id="alertContainer"></div>
    <partial name="_ProfileNav" />
    <div class="col-12 col-md-9">
        <form id="form" onsubmit="return false">
            @if (Model.AllUsers.Any())
            {
                <p class="fw-bold fs4-inherit">All users</p>
                <table class="table table-bordered" id="usersTable">
                    <thead>
                        <tr class="text-center d-none d-lg-table-row">
                            <th>Username</th>
                            <th>Email</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="tbody-stripped">
                        @foreach (var user in Model.AllUsers)
                        {
                            var isCurrentUser = UserManager.GetUserAsync(User).Result == user;
                            <tr class="text-center d-flex flex-column d-lg-table-row bg-white" id="itemsRow">
                                <td class="text-break"><p class="m-0" onclick="Collapse(this)">@user.UserName</p></td>
                                <td class="align-middle px-3 d-none d-lg-table-cell">@user.Email</td>
                                @if (user.IsBuiltInAdmin)
                                {
                                    <td class="align-middle px-3 d-none d-lg-table-cell" colspan="2"><i class="fa fa-info-circle text-secondary cursor-pointer" role="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Built in Admin not editable!"></i> </td>
                                }
                                else
                                {
                                    <td class="align-middle px-3 d-none d-lg-table-cell" colspan="@(isCurrentUser ? "2" : "1")">
                                        <a asp-controller="Account" asp-action="Profile" asp-route-id="@user.Id">
                                            <i class="fa fa-pen-alt cursor-pointer"></i>
                                        </a>
                                    </td>

                                    if (!isCurrentUser)
                                    {
                                        <td class="align-middle px-3 d-none d-lg-table-cell">
                                            <i class="fa fa-trash-alt cursor-pointer delete-user-btn" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="DeleteUser('@user.Id')"></i>
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }

            @if (Model.CurrentAccountUsers.Any())
            {
                <p class="fw-bold fs4-inherit">Current account users</p>
                <table class="table table-bordered" id="usersTable">
                    <thead>
                        <tr class="text-center d-none d-lg-table-row">
                            <th>Username</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="tbody-stripped">
                        @foreach (var user in Model.CurrentAccountUsers)
                        {
                            <tr class="text-center d-flex flex-column d-lg-table-row bg-white" id="itemsRow">
                                <td class="text-break"><p class="m-0" onclick="Collapse(this)">@user.Name</p></td>
                                <td class="align-middle px-3 d-none d-lg-table-cell">@user.Role</td>
                                <td class="align-middle px-3 d-none d-lg-table-cell">
                                    @if (user.IsOwner || user.IsCurrentUser)
                                    {
                                        <i class="fa fa-info-circle text-secondary cursor-pointer" role="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="@(user.IsOwner ? "The owner cannot be dissmissed!" : "You cannot dissmiss yourself!")"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-user-minus cursor-pointer delete-user-btn text-warning" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="DismissUser('@user.Id')"></i>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </form>
    </div>
</div>
<partial name="_ModalPartial" model="@(new ModalMessage { Message = $"Are you sure you want to {modalActionMessage} this user?" })" />

<script src="~/js/ManageUsersScript.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}





