@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a onclick="javascript: RedirectTo('/ConfigTool', '@ViewContext.ActionDescriptor.DisplayName')" class="text-white nav-link cursor-pointer">Plugins List</a>
        </li>
        @if (User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a onclick="javascript: RedirectTo('/Settings', '@ViewContext.ActionDescriptor.DisplayName')" class="text-white nav-link cursor-pointer">Settings</a>
            </li>
        }

        <li class="nav-item">
            <a onclick="javascript: RedirectTo('/Identity/Account/Manage', '@ViewContext.ActionDescriptor.DisplayName')" class="nav-link text-white cursor-pointer" id="manage" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/configtool", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-white cursor-pointer">Sign out</button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Sign in</a>
        </li>
    }
</ul>
