@model ExtendedPluginVersion

<div class="p-3 border-bottom">
    @if (!Model.IsNewVersion)
    {
        <partial name="_VersionCommentPartial" model="@(Model.VersionId, true)" />
    }

    <input hidden name="Page" value="@Page.Version" />
    <partial name="_VersionDetailsPartial" model="@Model"/>

    @if (Model.IsThirdParty && User.IsInRole("Developer"))
    {
        <button class="btn pa-admin-success-btn" onclick="SaveVersion('@Model.PluginId', 'InReview', false)">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
            Submit
        </button>
        <button class="btn pa-admin-outline-success-btn" onclick="SaveVersion('@Model.PluginId','Draft', true)">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
            Save as draft
        </button>
    }
</div>

<script asp-append-version="true">let isReadOnly = false</script>
<script src="~/js/DropDown.js" asp-append-version="true"></script>
