@model ExtendedPluginVersion

<div class="p-3 border-bottom">
    @if (!Model.IsNewVersion)
    {
        <partial name="_VersionSubMenu" model="@Model" />
    }

    <input hidden name="Page" value="@Page.Version" />
    <partial name="_VersionDetailsPartial" model="@Model" />

    @if (Model.IsThirdParty && User.IsInRole("Developer"))
    {
        <button class="btn pa-admin-success-btn" onclick="Save('@Model.PluginId', 'Submit' false)">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
            Submit
        </button>
        <button class="btn pa-admin-outline-success-btn" onclick="Save('@Model.PluginId', 'SaveAsDraft')">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
            Save as draft
        </button>
    }
    else if (Model.IsThirdParty && User.IsInRole("Administrator") && Model.VersionStatus.Equals(Status.InReview))
    {
        <button class="btn pa-admin-success-btn" onclick="Save('@Model.PluginId', 'Approve', true)">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
            Approve
        </button>
        <button class="btn btn-danger" onclick="Save('@Model.PluginId', 'Reject', true)">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
            Reject
        </button>
    }
</div>

<script asp-append-version="true">let isReadOnly = false</script>
<script src="~/js/DropDown.js" asp-append-version="true"></script>
