@inherits CustomRazorPage<(ExtendedPluginDetails Plugin, ExtendedPluginVersion Version)>
@{
    ViewData["Title"] = "Versions";
    ViewData["ActivePage"] = ManagePluginsNav.Versions;
    ViewData["SelectedVersion"] = Model.Version.VersionId;
    ViewData["ActiveVersionSubPage"] = ManageVersionTabs.Details;
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />

<form class="row p-2" method="post" id="form" onsubmit="return false">
    <div class="col-12 col-lg-4">
        <partial name="_PluginsNavPartial" model="@Model.Plugin" />
    </div>
    <div class="col-12 col-lg-8 border-container">
        @if (!Model.Version.IsNewVersion)
        {
            <partial name="_VersionSubMenu" model="@Model.Version" />
        }

        <input hidden name="Page" value="@Page.Version" />
        <partial name="_VersionDetailsPartial" model="@Model.Version" />

        @if (Model.Version.IsThirdParty && ExtendedUser.IsInRoles("Developer", "Administrator"))
        {
            if (Model.Plugin.Status != Status.Draft)
            {
                <button class="btn pa-admin-success-btn" onclick="Save('@Model.Plugin.Id', 'Submit')">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                    Submit
                </button>
            }
            <button class="btn pa-admin-outline-success-btn" onclick="Save('@Model.Plugin.Id', 'SaveAsDraft')">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                Save as draft
            </button>
        }
        else
        {
            <button class="btn pa-admin-success-btn" onclick="Save('@Model.Plugin.Id', 'Save')">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                Save
            </button>

            @if (Model.Version.VersionStatus == Status.Active)
            {
                <button class="btn btn-outline-secondary" onclick="Save('@Model.Plugin.Id', 'Deactivate')">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                    Deactivate
                </button>
            }

            @if (Model.Version.VersionStatus == Status.Inactive)
            {
                <button class="btn pa-admin-outline-success-btn" onclick="Save('@Model.Plugin.Id', 'Activate')">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                    Activate
                </button>
            }
        }
    </div>
</form>

<div id="partialContainer"></div>

<script src="~/js/DropDown.js" asp-append-version="true"></script>
<script src="~/js/VersionsScript.js" asp-append-version="true"></script>

<script>
    let parentProducts = @Html.Raw(Json.Serialize(Model.Plugin.Parents));
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}