@model (ExtendedPluginDetails plugin, List<ExtendedPluginVersion> versions)
@{
    ViewData["Title"] = "Versions";
    ViewData["ActivePage"] = ManagePluginsNav.Versions;
    var selectedView = Context.Request.Query["selectedView"];
    var selectedVersion = Context.Request.Query["selectedVersion"];
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
<partial name="_ModalPartial" model="@(new ModalMessage { Message = "Are you sure you want to delete this version?" })" />
<div id="statusMessageContainer"></div>
<div id="modalContainer"></div>

<form class="row p-2" method="post" id="form" onsubmit="return false">
    <div class="col-12 col-lg-4">
        <partial name="_PluginsNavPartial" model="@Model.plugin" />
    </div>

    <div class="col-12 col-lg-8 border-container">
        @foreach (var version in Model.versions)
        {
            if ((User.IsInRole("StandardUser") && !version.VersionStatus.Equals(Status.Active)) ||
                (User.IsInRole("Administrator") && !version.HasAdminConsent))
            {
                continue;
            }

            <div class="d-flex justify-content-between p-3 border-bottom">
                <div class="d-flex cursor-pointer w-100" onclick="Show('@version.VersionId', 'Details')">
                    <i class="fa fa-caret-down align-self-center me-2"></i>
                    <p class="m-0 fw-bold version-number-placeholder align-self-center">@(version.IsNewVersion ? "New Version" : version.VersionNumber)</p>
                </div>
                @if (!version.IsNewVersion)
                {
                    <div class="d-flex justify-content-between">
                        <div class="px-2 py-1 border rounded me-2">@version.VersionStatus</div>
                        @if (version.IsThirdParty && !User.IsInRole("StandardUser"))
                        {
                            if (version.NeedsDeletionApproval)
                            {
                                if (User.IsInRole("Administrator"))
                                {
                                    <div class="position-relative">
                                        <div class="btn-group">
                                            <i class="fa fa-trash-alt align-self-center cursor-pointer" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                            <div class="dropdown-menu">
                                                <div class="d-flex p-2">
                                                    <button class="btn pa-admin-success-btn me-2" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="DeleteVersion('@Model.plugin.Id', '@version.VersionId', true)">Approve</button>
                                                    <button class="btn btn-danger" onclick="ApproveDeletion('@Model.plugin.Id', '@version.VersionId', false)">Reject</button>
                                                </div>
                                            </div>
                                        </div>
                                        <i class="fa fa-exclamation-circle text-warning" data-bs-toggle="tooltip" data-bs-placement="right" title="Deletion approval needed!"></i>
                                    </div>
                                }

                                if (User.IsInRole("Developer"))
                                {
                                    <div class="position-relative cursor-pointer">
                                        <i class="fa fa-trash-alt align-self-center"></i>
                                        <i class="fa fa-clock text-warning" data-bs-toggle="tooltip" data-bs-placement="right" title="Deletion approval pending!"></i>
                                    </div>
                                }
                            }
                            else
                            {
                                <i class="fa fa-trash-alt align-self-center cursor-pointer" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="DeleteVersion('@Model.plugin.Id', '@version.VersionId', true)"></i>
                            }
                        }

                        @if (!version.IsThirdParty)
                        {
                            <i class="fa fa-trash-alt align-self-center cursor-pointer" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="DeleteVersion('@Model.plugin.Id', '@version.VersionId', true)"></i>
                        }
                    </div>
                }
            </div>

            <div class="version-details" aria-expanded="false">
                @if (selectedVersion == version.VersionId && selectedView == "Comments")
                {
                    <partial name="/Areas/Plugins/Views/Comments/_CommentsPartial.cshtml" model="@(Model.plugin.Id, version.VersionId, version.VersionComments)" />
                }

                @if (selectedVersion == version.VersionId && selectedView == "Details")
                {
                    if (version.IsThirdParty && User.IsInRole("StandardUser"))
                    {
                        <partial name="_ReadonlyVersionPartial" model="@version" />
                    }
                    else
                    {
                        <partial name="_VersionPartial" model="@version" />
                    }
                }
            </div>
        }
    </div>
</form>

<script src="~/js/VersionsScript.js" asp-append-version="true"></script>
<script src="~/js/RichTextEditor.js" asp-append-version="true"></script>
<script asp-append-version="true">
    let parentProducts = @Html.Raw(Json.Serialize(Model.plugin.Parents));
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}