@inherits CustomRazorPage<(ExtendedPluginDetails Plugin, IEnumerable<ExtendedPluginVersion> Versions)>
@inject IPluginVersionRepository repository
@{
    ViewData["Title"] = "Versions";
    ViewData["ActivePage"] = ManagePluginsNav.Versions;
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
<partial name="_ModalPartial" model="@(new ModalMessage { Message = "Are you sure you want to delete this version?" })" />

<form class="row p-2" method="post" id="form" onsubmit="return false">
    <div class="col-12 col-lg-4">
        <partial name="_PluginsNavPartial" model="@Model.Plugin" />
    </div>

    <div class="col-12 col-lg-8 border-container">
        @if (Model.Versions.Any())
        {
            @foreach (var version in Model.Versions)
            {
                <div class="d-flex justify-content-between p-3 border-bottom">
                    <a class="m-0 fw-bold version-number-placeholder align-self-center text-decoration-none text-black w-100" asp-controller="Version" asp-action="@ManageVersionTabs.GetAction(version.VersionStatus)" asp-route-pluginId="@version.PluginId" asp-route-versionId="@version.VersionId">@version.VersionNumber</a>
                    @if (!version.IsNewVersion)
                    {
                        <div class="d-flex justify-content-between">
                            <div class="px-2 py-1 border rounded me-2">@version.VersionStatus</div>
                            @if (version.IsThirdParty && !ExtendedUser.IsInRoles("StandardUser"))
                            {
                                if (version.NeedsDeletionApproval)
                                {
                                    if (ExtendedUser.IsInRoles("Administrator"))
                                    {
                                        <div class="position-relative">
                                            <div class="btn-group">
                                                <i class="fa fa-trash-alt align-self-center cursor-pointer" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                                <div class="dropdown-menu">
                                                    <div class="d-flex p-2">
                                                        <button class="btn pa-admin-success-btn me-2" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="Delete('@Model.Plugin.Id', '@version.VersionId', 'ApproveDeletion')">Approve</button>
                                                        <button class="btn btn-danger" onclick="Delete('@Model.Plugin.Id', '@version.VersionId', 'RejectDeletion', false)">Reject</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <i class="fa fa-exclamation-circle text-warning" data-bs-toggle="tooltip" data-bs-placement="right" title="Deletion approval needed!"></i>
                                        </div>
                                    }

                                    if (ExtendedUser.IsInRoles("Developer", "DeveloperAdmin"))
                                    {
                                        <div class="position-relative cursor-pointer">
                                            <i class="fa fa-trash-alt align-self-center"></i>
                                            <i class="fa fa-clock text-warning" data-bs-toggle="tooltip" data-bs-placement="right" title="Deletion approval pending!"></i>
                                        </div>
                                    }
                                }
                                else
                                {
                                    if (ExtendedUser.IsInRoles("Developer", "DeveloperAdmin") && version.IsActive)
                                    {
                                        <i class="fa fa-trash-alt align-self-center cursor-pointer" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="Delete('@Model.Plugin.Id', '@version.VersionId', 'RequestDeletion')"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-trash-alt align-self-center cursor-pointer" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="Delete('@Model.Plugin.Id', '@version.VersionId', 'Delete')"></i>
                                    }
                                }
                            }

                            @if (!version.IsThirdParty)
                            {
                                <i class="fa fa-trash-alt align-self-center cursor-pointer" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="Delete('@Model.Plugin.Id', '@version.VersionId', 'Delete')"></i>
                            }
                        </div>
                    }
                </div>
            }

            @if (!Model.Plugin.IsThirdParty || Model.Plugin.IsThirdParty && ExtendedUser.IsInRoles("Developer", "DeveloperAdmin"))
            {
                <a class="btn pa-admin-success-btn mt-2" asp-controller="Version" asp-action="Add" asp-route-pluginId="@Model.Plugin.Id">Add version</a>
            }
        }
        else
        {
            <div class="d-flex flex-column align-items-center">
                <img src="~/images/empty-result.png" width="200" height="200" />
                <h5 class="mt-2">No versions found!</h5>
                @if (!Model.Plugin.IsThirdParty || Model.Plugin.IsThirdParty && User.IsInRole("Developer"))
                {
                    <a class="btn pa-admin-success-btn" asp-controller="Version" asp-action="Add" asp-route-pluginId="@Model.Plugin.Id">Add version</a>
                }
            </div>
        }
    </div>
</form>

<script src="~/js/VersionsScript.js" asp-append-version="true"></script>
<script src="~/js/RichTextEditor.js" asp-append-version="true"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}