@model PrivatePlugin<PluginVersion<string>>
@{
    ViewData["Title"] = "Edit";
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
<div id="statusMessageContainer"></div>

<form method="post" id="form" enctype="multipart/form-data">
    <div class="row px-2">
        <div class="col-12 col-lg-4">
            <div class="d-flex justify-content-center">
                <img class="img-thumbnail border-0" src="@Model.IconUrl" asp-append-version="true">
            </div>
            <h5 class="text-center p-1 text-wrap">@Model.Name</h5>
            <div class="d-flex align-content-center col-12 p-0 mb-3">
                <p class="col-4 m-0 align-self-center">Status</p>
                <select class="form-select form-select-sm" asp-for="Inactive">
                    <option value="false">Active</option>
                    <option value="true">Inactive</option>
                </select>
            </div>
            <div class="d-flex justify-content-between">
                <h6>Versions</h6>
                <a onclick="javascript: AddNewVersion()" class="new-version-button"> <i class="fas fa-plus"></i></a>
            </div>
            <div>
                <partial name="_PluginVersionPartial" model="@Model.Versions" />
            </div>
        </div>

        <div class="col-12 col-lg-8 border-container">
            <input hidden asp-for="Id" />
            <input hidden asp-for="IsEditMode" />
            <input hidden asp-for="SelectedVersionId" id="selectedVersionId" />

            <div class="d-flex align-content-center col-12 p-0 mb-3">
                <label class="col-4 m-0 align-self-center form-label" asp-for="Name">Plugin Name <span class="text-danger">*</span></label>
                <div class="w-100">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <span hidden id="PluginManifestName" class="text-danger">Plugin manifest conflict, invalid plugin name!</span>
                </div>
            </div>
            <div class="d-flex align-content-center col-12 p-0 mb-3">
                <label class="col-4 m-0 align-self-center form-label" asp-for="IconUrl">Icon url <span class="text-danger">*</span></label>
                <div class="w-100">
                    <input asp-for="IconUrl" class="form-control" />
                    <span asp-validation-for="IconUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex align-content-center col-12 p-0 mb-3">
                <label class="col-4 m-0 align-self-center form-label" asp-for="DeveloperName">Developer </label>
                <div class="w-100">
                    <input asp-for="DeveloperName" class="form-control" />
                    <span asp-validation-for="DeveloperName" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex align-content-center col-12 p-0 mb-3">
                <label class="col-4 m-0 align-self-center form-label" asp-for="ChangelogLink">Changelog link </label>
                <div class="w-100">
                    <input asp-for="ChangelogLink" class="form-control" />
                    <span asp-validation-for="ChangelogLink" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex align-content-center col-12 p-0 mb-3">
                <label class="col-4 m-0 align-self-center form-label" asp-for="SupportUrl">Support url </label>
                <div class="w-100">
                    <input asp-for="SupportUrl" class="form-control" />
                    <span asp-validation-for="SupportUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex align-content-center col-12 p-0 mb-3">
                <label class="col-4 m-0 align-self-center form-label" asp-for="SupportEmail">Support email </label>
                <div class="w-100">
                    <input asp-for="SupportEmail" class="form-control" />
                    <span asp-validation-for="SupportEmail" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex align-content-center col-12 p-0 mb-3">
                <label class="col-4 m-0 align-self-center form-label" asp-for="Description">Description <span class="text-danger">*</span></label>
                <div class="w-100">
                    <div class="rich-text-editor border rounded">
                        <div class="d-flex justify-content-between border-bottom p-3">
                            <i id="bold" data-tag-name="B" class="fa fa-bold cursor-pointer option format p-2"></i>
                            <i id="underline" data-tag-name="U" class="fa fa-underline cursor-pointer option format p-2"></i>
                            <i id="italic" data-tag-name="I" class="fa fa-italic cursor-pointer option format p-2"></i>
                            <i id="insertUnorderedList" data-tag-name="UL" class="fa fa-list-ul cursor-pointer option p-2"></i>
                            <i id="insertOrderedList" data-tag-name="OL" class="fa fa-list-ol cursor-pointer option p-2"></i>
                            <i id="justifyLeft" class="fa fa-align-left cursor-pointer option align p-2"></i>
                            <i id="justifyCenter" class="fa fa-align-center cursor-pointer option align p-2"></i>
                            <i id="justifyRight" class="fa fa-align-right cursor-pointer option align p-2"></i>
                            <i id="justifyFull" class="fa fa-align-justify cursor-pointer option align p-2"></i>
                            <i id="createLink" data-bs-toggle="modal" data-bs-target="#linkModal" class="fa fa-link cursor-pointer p-2"></i>
                            <div class="dropdown">
                                <div class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-table cursor-pointer p-2"></i>
                                </div>

                                <div class="dropdown-menu" style="width:200px;" aria-labelledby="dropdownMenuLink">
                                    <partial name="_TableSelectorPartial" />
                                </div>
                            </div>
                        </div>
                        <div class="edit-area border-0 p-3" contenteditable="true" spellcheck="false"></div>
                    </div>
                    <textarea asp-for="Description" class="text-area-hidden"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex align-content-center col-12 p-0 mb-3">
                <label class="col-4 m-0 align-self-center" asp-for="Categories">Plugin categories </label>
                <select class="form-select" multiple="multiple" asp-for="@Model.Categories" asp-items="Model.CategoryListItems"></select>
            </div>
            <div class="form-check d-flex align-content-center col-12 p-0 mb-3">
                <label class="col-4 m-0" asp-for="PaidFor">Paid for</label>
                <input asp-for="PaidFor" type="checkbox" class="m-0 align-self-center p-3" />
            </div>

            <div id="pluginVersionContainer"></div>
            <div id="modalContainer"></div>
            <button onclick="javascript: SavePlugin()" type="button" class="btn btn-primary pa-admin-success-btn ml-lg-3">Save</button>
        </div>
    </div>
</form>

<partial name="_ModalPartial" model="@new ModalMessage()" />
<partial name="_LinkPartial" />


<script src="~/js/EditPluginsScript.js"></script>
<script src="~/js/RichTextEditor.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


