@model ConfigToolModel
@{
    ViewData["Title"] = "Plugins";
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
<div class="row flex-column justify-content-center flex-lg-row justify-content-between px-3">
    <div class="container-fluid col-12 col-lg-8 m-0 order-1 order-lg-0 p-0">
        <div class="row flex-column flex-lg-row">
            <div class="col-12 col-lg-8 d-flex justify-content-between my-3 m-lg-0">
                <div class="d-flex align-items-center me-2">
                    <p class="m-0 text-nowrap">Quick filters:</p>
                </div>
                <select id="status" class="pa-admin-select" onchange="javscript: AddFilter('status')">
                    <option value="2" hidden selected>Status</option>
                    <option value="0">Active</option>
                    <option value="1">Inactive</option>
                </select>
                <select id="product" class="pa-admin-select" asp-items="@Model.ProductsListItems" onchange="javscript: AddFilter('product')">
                    <option hidden selected>Products</option>
                </select>
            </div>

            <div class="col-12 col-lg-4">
                <div id="filterSearch" class="filter-search w-100">
                    <input id="search" class="filter-search-text" autocomplete="off" placeholder="Search plugin" onkeydown="javascript: AddFilterOnEnterKey()">
                    <i id="applyFilters" class="fas fa-search filter-search-submit" onclick="javascript: AddFilter('search')"></i>
                </div>
            </div>
        </div>

    </div>

    <div id="newAppButton" class="col-12 col-lg-4 d-flex justify-content-start justify-content-lg-end order-0 order-lg-1 p-0">
        <a class="btn pa-admin-success-btn" asp-controller="Plugins" asp-action="New">
            <i class="fas fa-puzzle-piece"></i>
            New app
        </a>
    </div>

</div>

<div id="activeFilters" class="row px-3 pt-3">
    <label id="clearAllFilter" class="delete-filter me-1 @Html.Raw(Model.ClearAllExists ? "delete-filter-active" : "")">
        <i class="fas fa-times-circle cursor-pointer delete-filter-img" onclick="javascript: RedirectTo('/Plugins','/plugins')"></i>
        <label class="filter-current-label">Clear all</label>
    </label>
    <label id="clearStatusFilter" class="delete-filter me-1 @Html.Raw(Model.StatusExists ? "delete-filter-active" : "")">
        <i class="fas fa-times-circle cursor-pointer delete-filter-img" onclick="javascript: DeleteFilter('status')"></i>
        <label id="labelStatusFilter" class="filter-current-label">@Html.Raw(Model.StatusValue == "0" ? "Active" : Model.StatusValue == "1" ? "Inactive" : "All")</label>
    </label>
    <label id="clearSearchFilter" class="delete-filter me-1 @Html.Raw(Model.SearchExists ? "delete-filter-active" : "")">
        <i class="fas fa-times-circle cursor-pointer delete-filter-img" onclick="javascript: DeleteFilter('search')"></i>
        <label id="labelSearchFilter" class="filter-current-label">@Model.SearchValue</label>
    </label>
    <label id="clearProductFilter" class="delete-filter me-1 @Html.Raw(Model.ProductExists ? "delete-filter-active" : "")">
        <i class="fas fa-times-circle cursor-pointer delete-filter-img" onclick="javascript: DeleteFilter('product')"></i>
        <label id="labelSearchFilter" class="filter-current-label">@Model.ProductName</label>
    </label>
</div>

<div id="configToolPage">
    <div class="row justify-content-center">
        @foreach (var plugin in Model.Plugins)
        {
            <div class="col-12 col-md-4 col-lg-3 p-3 d-flex justify-content-center">
                <div class="card card-item @Html.Raw(@plugin.Inactive ? "card-item-inactive" : "")">
                    <img class="img-item" src="@plugin.IconUrl" asp-append-version="true">
                    <div class="card-body text-center d-flex flex-column justify-content-center py-0">
                        <label class="text-wrap plugin-name">@plugin.Name</label>
                    </div>
                    <div class="d-flex flex-row p-3">
                        <label class="card-status col-6">@Html.Raw(@plugin.Inactive ? "Inactive" : "")</label>
                        <div class="col-6 d-flex justify-content-end">
                            <a class="focus-transparent me-3" asp-controller="Plugins" asp-action="Edit" asp-route-Id="@plugin.Id"><i class="fas fa-pen-alt text-secondary"></i></a>
                            <a class="btn p-0"><i class="far fa-trash-alt text-danger cursor-pointer" onclick="DeletePlugin('@plugin.Id', `@plugin.Name`)"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<partial name="_ModalPartial" model="@new ModalMessage()" />

<script src="~/js/PluginsScript.js"></script>
<script src="~/js/FilterScript.js"></script>
