@model ConfigToolModel
@{
    ViewData["Title"] = "Plugins";
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
<div class="row flex-column justify-content-center flex-lg-row justify-content-between px-3">
    <div class="container-fluid col-12 col-lg-8 m-0 order-1 order-lg-0 p-0">
        <form class="row flex-column flex-lg-row" method="get" asp-action="Index">
            <div class="col-12 col-lg-8 d-flex justify-content-between my-3 m-lg-0">
                <div class="d-flex align-items-center me-2">
                    <p class="m-0 text-nowrap">Quick filters:</p>
                </div>
                <select name="Status" asp-items="@Model.StatusListItems" class="pa-admin-select" onchange="this.form.submit()">
                    <option disabled hidden selected>Status</option>
                </select>
                <select name="Product" class="pa-admin-select" asp-items="@Model.ProductsListItems" onchange="this.form.submit()">
                    <option disabled hidden selected>Products</option>
                </select>
            </div>

            <div class="col-12 col-lg-4">
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm" name="Query" autocomplete="off" placeholder="Search plugin" aria-label="Search plugin">
                    <span class="input-group-text p-1 bg-light">
                        <button onclick="this.form.submit()" class="border-0 bg-light"><i aria-label="Submit search" class="fa fa-search filter-search-submit"></i></button>
                    </span>
                </div>
            </div>
        </form>

    </div>

    <div id="newAppButton" class="col-12 col-lg-4 d-flex justify-content-start justify-content-lg-end order-0 order-lg-1 p-0">
        <a class="btn pa-admin-success-btn fs-inherit" asp-controller="Plugins" asp-action="New">
            <i class="fas fa-puzzle-piece"></i>
            New app
        </a>
    </div>

</div>


<form id="form" class="m-0 px-1 py-3 d-flex">
    <a class="delete-filter me-1 delete-filter-active text-decoration-none text-white @(Model.Filters.Any(x => x.IsSelected) ? "" : "d-none")" href="@Url.Action("Index")">
        <i class="fa fa-times-circle"></i>
        Clear all
    </a>
    @foreach (var item in Model.Filters)
    {
        if (item.IsSelected)
        {
            <label for="@item.Id" class="delete-filter me-1 delete-filter-active">
                <i class="fas fa-times-circle cursor-pointer delete-filter-img" aria-label="Clear @item.Id filter"></i>
                @item.Label
                <input hidden type="checkbox" id="@item.Id" name="@item.Id" value="@item.Value" onchange="this.form.submit()" checked />
            </label>
        }
    }
</form>

<div id="configToolPage">
    <div class="row justify-content-center">
        @foreach (var plugin in Model.Plugins)
        {
            <div class="col-12 col-md-4 col-lg-3 p-3 d-flex justify-content-center">
                <div class="card card-item @(plugin.Status == Status.Inactive ? "card-item-inactive" : "")">
                    <img alt="@plugin.Name" class="img-item" src="@plugin.Icon.MediaUrl" asp-append-version="true">
                    <div class="card-body text-center d-flex flex-column justify-content-center py-0">
                        <label class="text-wrap plugin-name">@plugin.Name</label>
                    </div>
                    <div class="d-flex flex-row p-3 @(plugin.Status == Status.Active ? "justify-content-end" : null)">
                        @if (plugin.Status == Status.Inactive)
                        {
                            <label class="col-6"><i class="fa fa-lock"></i> Inactive</label>
                        }

                        @if (plugin.Status == Status.Draft)
                        {
                            <label class="col-6"><i class="fa fa-drafting-compass"></i> Draft</label>
                        }

                        @if (plugin.Status == Status.InReview)
                        {
                            <label class="col-6"><i class="fas fa-eye"></i> In review</label>
                        }

                        <div class="col-6 d-flex justify-content-end">

                            @if (plugin.IsThirdParty && !User.IsInRole("StandardUser"))
                            {
                                <a class="focus-transparent me-3" aria-label="Edit @plugin.Name" asp-controller="Plugins" asp-action="Edit" asp-route-id="@plugin.Id"><i class="fas fa-pen-alt"></i></a>
                                if (plugin.NeedsDeletionApproval)
                                {
                                    if (User.IsInRole("Administrator"))
                                    {
                                        <div class="btn p-0 fs-inherit position-relative d-flex">
                                            <div class="btn-group">
                                                <i class="fa fa-trash-alt align-self-center cursor-pointer" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                                <div class="dropdown-menu">
                                                    <div class="d-flex p-2">
                                                        <button class="btn pa-admin-success-btn me-2" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="DeletePlugin('@plugin.Id', true)">Approve</button>
                                                        <button class="btn btn-danger" onclick="ApproveDeletion('@plugin.Id', false)">Reject</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <i class="fa fa-exclamation-circle text-warning" data-bs-toggle="tooltip" data-bs-placement="right" title="Deletion approval needed!"></i>
                                        </div>
                                    }

                                    if (User.IsInRole("Developer"))
                                    {
                                        <div class="btn p-0 fs-inherit position-relative d-flex">
                                            <i class="fa fa-trash-alt align-self-center"></i>
                                            <i class="fa fa-clock cursor-pointer text-warning" data-bs-toggle="tooltip" data-bs-placement="right" title="Deletion approval pending!"></i>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="btn p-0 fs-inherit position-relative d-flex">
                                        <i class="fa fa-trash-alt align-self-center cursor-pointer" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="DeletePlugin('@plugin.Id', true)"></i>
                                    </div>
                                }
                            }

                            @if (plugin.IsThirdParty && User.IsInRole("StandardUser"))
                            {
                                <div class="btn p-0 fs-inherit position-relative d-flex">
                                    <a class="focus-transparent text-secondary" aria-label="Edit @plugin.Name" asp-controller="Plugins" asp-action="Edit" asp-route-id="@plugin.Id"><i class="fas fa-eye"></i></a>
                                </div>
                            }

                            @if (!plugin.IsThirdParty)
                            {
                                <div class="btn p-0 fs-inherit position-relative d-flex">
                                    <a class="focus-transparent me-3" aria-label="Edit @plugin.Name" asp-controller="Plugins" asp-action="Edit" asp-route-id="@plugin.Id"><i class="fas fa-pen-alt"></i></a>
                                    <i class="fa fa-trash-alt align-self-center cursor-pointer" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="DeletePlugin('@plugin.Id', true)"></i>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<partial name="_ModalPartial" model="@(new ModalMessage { Message = "Are you sure you want to delete this plugin?" })" />

<script src="~/js/PluginsScript.js"></script>
