@model List<ManifestCompareProperty>
@{
    var expected = Model.Select(p => p.Expected).ToList();
}

<h5>Compare log</h5>
<table class="table table-bordered m-0">
    <thead>
        <tr>
            <th>Property name</th>
            <th>Actual result</th>
            <th class="d-flex justify-content-between">
                <p class="m-0">Expected result</p>
                <i class="fa fa-sync text-center align-self-center text-success cursor-pointer" onclick="ApplyExpected(new Array('@expected[0]', '@expected[1]', '@expected[2]', '@expected[3]'))"></i>
            </th>
            <th class="text-center">Is Match</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    <input hidden asp-for="@Model[i].Name">
                    @Model[i].Name
                </td>
                <td class="actual">
                    <input hidden asp-for="@Model[i].Actual">
                    <p class="m-0">@Model[i].Actual</p>
                </td>
                <td>
                    <input hidden asp-for="@Model[i].Expected">
                    @Model[i].Expected
                </td>
                <td class="text-center match">
                    <input hidden type="checkbox" asp-for="@Model[i].IsMatch">
                    <i class="fa @(Model[i].IsMatch ? "fa-check-circle text-success" : "fa-times-circle text-danger")"></i>
                </td>
            </tr>
        }
    </tbody>
</table>