@model ExtendedPluginDetails

<div class="d-flex flex-column align-items-center border-bottom py-3">
    <img alt="@Model.Name" class="img-thumbnail border-0" src="@Model.Icon.MediaUrl" asp-append-version="true" width="250" height="250">
    <p class="text-center fw-bold p-1 text-wrap">@(Model.Name ?? "New plugin name")</p>

    <div class="d-flex align-content-center col-12 p-0">
        <p class="col-4 m-0 align-self-center">Status</p>
        <div class="px-2 py-1 border rounded me-2 w-100">@Model.Status</div>
        <input hidden readonly asp-for="Status" />
    </div>
</div>

@if (Model.IsEditMode)
{
    <ul class="nav nav-pills flex-column py-3" id="settings-navbar">
        <li class="nav-item"><a class="nav-link cursor-pointer option @ManagePluginsNav.PluginDetailsNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Plugins/Edit/@Model.Id' })">Plugin details</a></li>
        <li class="nav-item"><a class="nav-link cursor-pointer option @ManagePluginsNav.VersionsNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Plugins/Edit/@Model.Id/Versions' })">Plugin versions</a></li>
    </ul>

    @if (!string.IsNullOrEmpty((string)ViewData["SelectedVersion"]))
    {
        <ul class="border-top p-0">
            @foreach (var version in Model.Versions)
            {
                <li class="nav-item d-flex justify-content-between">
                    <div class="d-flex">
                        @if ((string)ViewData["SelectedVersion"] == version.VersionId)
                        {
                            <i class="fa fa-caret-right align-self-center text-success"></i>
                        }
                        <a class="nav-link cursor-pointer option text-black" onclick="EnsurePreserved(() => { window.location.href = '/Plugins/Edit/@Model.Id/Versions/Edit/@version.VersionId' })">@version.VersionNumber</a>
                    </div>
                    <p class="m-0 align-self-center border px-2 rounded">@version.VersionStatus</p>
                </li>
            }
        </ul>
    }
}
else
{
    <ul class="nav nav-pills flex-column py-3" id="settings-navbar">
        <li class="nav-item"><a class="nav-link cursor-pointer option active">Plugin details</a></li>
    </ul>
}
