@model List<PluginVersion>

<div id="selectedVersion">
    @if (Model != null)
    {
        @for (int i = 0; i < @Model.Count; i++)
        {
            <input hidden asp-for="@Model[i].Id" />
            <input hidden asp-for="@Model[i].VersionNumber" />
            <input hidden asp-for="@Model[i].IsNewVersion" />
            <input hidden asp-for="@Model[i].MinimumRequiredVersionOfStudio" />
            <input hidden asp-for="@Model[i].AppHasStudioPluginInstaller" />
            <input hidden asp-for="@Model[i].TechnicalRequirements" />
            <input hidden asp-for="@Model[i].IsNavigationLink" />
            <input hidden asp-for="@Model[i].SelectedProduct.Id" />
            <input hidden asp-for="@Model[i].SelectedProduct.ProductName" />
            <input hidden asp-for="@Model[i].SelectedProduct.ParentProductID" />
            <input hidden asp-for="@Model[i].SelectedProduct.MinimumStudioVersion" />
            <input hidden asp-for="@Model[i].DownloadUrl" />
            <input hidden asp-for="@Model[i].IsPrivatePlugin" />

            for (int j = 0; j < Model[i].SupportedProducts.Count; j++)
            {
                <input hidden asp-for="@Model[i].SupportedProducts[j].Id" />
                <input hidden asp-for="@Model[i].SupportedProducts[j].ParentProductID" />
                <input hidden asp-for="@Model[i].SupportedProducts[j].ProductName" />
                <input hidden asp-for="@Model[i].SupportedProducts[j].MinimumStudioVersion" />
            }

            <input hidden asp-for="@Model[i].VersionName" />
            <div class="d-flex justify-content-between">
                <label class="cursor-pointer" onclick="ShowVersionDetails('@Model[i].Id')">@Model[i].VersionName</label>
                @if (Model.Count > 1)
                {
                    <i class="far fa-trash-alt text-danger cursor-pointer" id="@Model[i].Id"></i>
                }
            </div>
        }
    }
</div>