@inherits CustomRazorPage<int>
@inject IPluginRepository repository

<ul class="nav nav-tabs">
    @if (await repository.HasActiveChanges(Model))
    {
        <li class="nav-item">
            <a class="nav-link cursor-pointer @ManagePluginTabs.DetailsTabClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Plugins/Edit/@Model'})">Details</a>
        </li>
    }

    @if (await repository.HasPendingChanges(Model, ExtendedUser.Role))
    {
        <li class="nav-item">
            <a class="nav-link cursor-pointer @ManagePluginTabs.PendingTabClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Plugins/Pending/@Model'})">Pending</a>
        </li>
    }

    @if (await repository.HasDraftChanges(Model, ExtendedUser.Role))
    {
        <li class="nav-item">
            <a class="nav-link cursor-pointer @ManagePluginTabs.DraftTabClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Plugins/Draft/@Model'})">Draft</a>
        </li>
    }

    <li class="nav-item">
        <a class="nav-link cursor-pointer @ManagePluginTabs.CommentsTabClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Plugins/Edit/@Model/Comments'})">Comments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link cursor-pointer @ManagePluginTabs.LogsTabClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Plugins/Edit/@Model/Logs'})">Logs</a>
    </li>
</ul>