@inherits CustomRazorPage<ExtendedPluginVersion>
@inject IPluginVersionRepository repository
@{
    var route = $"/Plugins/Edit/{Model.PluginId}/Versions/{{0}}/{Model.VersionId}";
}

<ul class="nav nav-tabs">
    @if (await repository.HasActiveChanges(Model.PluginId, Model.VersionId))
    {
        <li class="nav-item">
            <a class="nav-link cursor-pointer @ManageVersionTabs.DetailsTabClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '@(string.Format(route, "Edit"))' })">Details</a>
        </li>
    }

    @if (await repository.HasPendingChanges(Model.PluginId, Model.VersionId, ExtendedUser.Role))
    {
        <li class="nav-item">
            <a class="nav-link cursor-pointer @ManageVersionTabs.PendingTabClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '@(string.Format(route, "Pending"))' })">Pending</a>
        </li>
    }

    @if (await repository.HasDraftChanges(Model.PluginId, Model.VersionId, ExtendedUser.Role))
    {
        <li class="nav-item">
            <a class="nav-link cursor-pointer @ManageVersionTabs.DraftTabClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '@(string.Format(route, "Draft"))'})">Draft</a>
        </li>
    }

    <li class="nav-item">
        <a class="nav-link cursor-pointer @ManageVersionTabs.CommentsTabClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '@(string.Format($"{route}/Comments", "Edit"))'})">Comments</a>
    </li>
</ul>