@model ExtendedPluginVersion
@{
    var selectedComment = Context.Request.Query["selectedComment"];
}

<div class="p-3 border-bottom">
    <partial name="_VersionSubMenu" model="@Model" />

    @if (!Model.VersionComments.Any())
    {
        <p class="m-0 py-2">No comments yet for this version.</p>
    }
    else
    {
        @foreach (var comment in Model.VersionComments)
        {
            if (selectedComment == comment.CommentId.ToString())
            {
                <div class="my-2">
                    <partial name="/Areas/Plugins/Views/Comments/_NewCommentPartial.cshtml" model="comment" />
                </div>
            }
            else
            {
                <div class="p-3 border-bottom border-top">
                    <div class="d-flex">
                        <i class="fa fa-user-alt me-2 align-self-center"></i>
                        <p class="m-0">@comment.CommentAuthor commented - @comment.CommentDate</p>
                    </div>
                    <p class="m-0 py-3">@Html.Raw(comment.CommentDescription)</p>
                    @if (comment.CommentAuthor.Equals(User.Identity.Name))
                    {
                        <div class="d-flex">
                            <p class="m-0 me-2 cursor-pointer text-secondary" onclick="EnsurePreserved(() => { EditComment('@comment.CommentId') })">Edit</p>
                            <p class="m-0 cursor-pointer text-secondary" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="DeleteComment('@Model.PluginId', '@Model.VersionId', '@comment.CommentId')">Delete</p>
                        </div>
                    }
                </div>
            }
        }
    }

    @if (string.IsNullOrEmpty(selectedComment))
    {
        <div class="mt-2">
            <button class="btn pa-admin-success-btn" id="addCommentBtn" onclick="AddComment('@Model.PluginId', '@Model.VersionId')"><i class="fa fa-comment"></i> Add comment</button>
        </div>
    }
</div>

<partial name="_ModalPartial" model="@(new ModalMessage { Message = "Are you sure you want to delete this message?" })" />