@model (ExtendedPluginDetails Plugin, ExtendedPluginVersion Version)
@{
    ViewData["Title"] = "Comments";
    ViewData["ActivePage"] = ManagePluginsNav.Versions;
    ViewData["ActiveVersionSubPage"] = ManageVersionTabs.Comments;
    var selectedComment = Context.Request.Query["selectedComment"];
}

<partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
<partial name="_ModalPartial" model="@(new ModalMessage { Message = "Are you sure you want to delete this message?" })" />

<form class="row p-2" method="post" id="form" onsubmit="return false">
    <div class="col-12 col-lg-4">
        <partial name="_PluginsNavPartial" model="@Model.Plugin" />
    </div>
    <div class="col-12 col-lg-8 border-container">
        @if (!Model.Version.IsNewVersion)
        {
            <partial name="_VersionSubMenu" model="@Model.Version" />
        }

        @if (!Model.Version.VersionComments.Any())
        {
            <p class="m-0 py-2">No comments yet for this version.</p>
        }
        else
        {
            @foreach (var comment in Model.Version.VersionComments)
            {
                if (selectedComment == comment.CommentId.ToString())
                {
                    <div class="my-2">
                        <partial name="_NewCommentPartial" model="comment" />
                    </div>
                }
                else
                {
                    <div class="p-3 border-bottom border-top">
                        <div class="d-flex">
                            <i class="fa fa-user-alt me-2 align-self-center"></i>
                            <p class="m-0">@comment.CommentAuthor commented - @comment.CommentDate</p>
                        </div>
                        <p class="m-0 py-3">@Html.Raw(comment.CommentDescription)</p>
                        @if (comment.CommentAuthor == User.Identity.Name)
                        {
                            <div class="d-flex">
                                <p class="m-0 me-2 cursor-pointer text-secondary" onclick="EnsurePreserved(() => { EditComment('@comment.CommentId') })">Edit</p>
                                <p class="m-0 cursor-pointer text-secondary" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="DeleteComment('@Model.Plugin.Id', '@comment.CommentId', '@Model.Version.VersionId')">Delete</p>
                            </div>
                        }
                    </div>
                }
            }
        }

        @if (string.IsNullOrEmpty(selectedComment))
        {
            <div class="mt-2">
                <button class="btn pa-admin-success-btn" id="addCommentBtn" onclick="AddComment('@Model.Plugin.Id', '@Model.Version.VersionId')"><i class="fa fa-comment"></i> Add comment</button>
            </div>
        }
    </div>
</form>

<div id="partialContainer"></div>

<script asp-append-version="true" src="~/js/CommentsScript.js"></script>