@model ExtendedProductDetails

<tr class="table-row d-flex flex-column d-lg-table-row" id="newDataRow">
    <td class="align-middle d-none d-lg-table-cell">
        <p class="m-0">@Model.Id</p>
        <input hidden asp-for="@Model.Id" />
    </td>
    <td class="order-first align-middle">
        <input class="form-control form-control-sm text-center text-lg-start fs-inherit" asp-for="ProductName" placeholder="ProductName" autofocus />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </td>
    <td class="align-middle">
        <input class="form-control form-control-sm text-center text-lg-start fs-inherit" asp-for="MinimumStudioVersion" placeholder="ProductVersion" />
        <span asp-validation-for="MinimumStudioVersion" class="text-danger"></span>
    </td>
    <td class="align-middle"><select asp-for="ParentProductID" asp-items="@Model.ParentProductsListItems" class="pa-admin-select form-select-sm fs-inherit w-100"></select></td>
    <td class="text-center align-middle"><input class="fs-inherit" asp-for="@Model.IsLegacy" aria-label="@Model.IsLegacy" /></td>
    <td class="text-center align-middle">
        <i onclick="table.Save()" role="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Save" class="fa fa-check-circle success-icon cursor-pointer align-middle"></i>
    </td>
    <td class="text-center align-middle">
        <i onclick="table.Discard()" role="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Discard" class="fa fa-times-circle text-danger cursor-pointer align-middle"></i>
    </td>
</tr>