@model List<ParentProduct>

@for (int i = 0; i < Model.Count; i++)
{
    <tr class="table-row d-flex flex-column d-lg-table-row" id="itemsRow">
        <td class="d-none d-lg-table-cell">
            <div class="input-group">
                <span class="input-group-text text-center w-50 d-inline d-lg-none border-0">Id</span>
                <input class="form-control form-control-sm entry entry-nofocus rounded text-center text-lg-start" hidden="hidden" onfocusout="parentTable.FocusOut()" asp-for="@Model[i].ParentId">
                <p class="m-0 section w-100 align-self-center text-center text-lg-start" ondblclick="parentTable.EditCell()">@Model[i].ParentId</p>
            </div>
        </td>
        <td class="editable-field order-first">
            <input class="form-control form-control-sm entry entry-nofocus text-center text-lg-start autofocus fs-inherit" aria-label="@Model[i].ParentProductName" hidden="hidden" onfocusout="parentTable.FocusOut()" asp-for="@Model[i].ParentProductName">
            <p class="m-0 section align-self-center text-center text-lg-start" ondblclick="parentTable.EditCell()" onclick="Collapse(this)">@Model[i].ParentProductName</p>
        </td>
        <td class="icon-cell text-center align-middle d-none d-lg-table-cell">
            <i class="fa fa-pen-alt text-secondary cursor-pointer" title="Edit @Model[i].ParentProductName" onclick="parentTable.EditRow()"></i>
            <i class="fa fa-check-circle text-success cursor-pointer d-none" title="Apply changes for @Model[i].ParentProductName" onclick="parentTable.ApplyChanges()"></i>
        </td>
        <td class="icon-cell text-center align-middle d-none d-lg-table-cell">
            <i id="@Model[i].ParentId" class="fa fa-trash-alt row-eraser text-danger cursor-pointer" title="Delete @Model[i].ParentProductName" onclick="parentTable.DeleteRow()"></i>
            <i class="fa fa-times-circle text-danger cursor-pointer d-none" title="Discard changes for @Model[i].ParentProductName" onclick="parentTable.DiscardChanges()"></i>
        </td>
    </tr>
}