@model ResetPasswordModel

@{
    ViewData["Title"] = "Manage";
    ViewData["ActivePage"] = ManageNavPages.ResetPassword;
}

<div class="d-flex justify-content-between">
    <h2 class="m-0">@ViewData["Title"]</h2>
    <btn class="btn btn-light text-black"><i class="fa fa-pen-alt"></i> Edit mode</btn>
</div>

<h4>Manage users</h4>
<hr class="w-100">
<div class="row">
    <partial name="_StatusMessage" model="@Model.StatusMessage" />
    <partial name="_EditNav" model="@Model.Id"/>
    <div class="col-12 col-md-9">
        <h4>@string.Format("Reset password for {0}", Model.Username)</h4>
        <form asp-controller="Manage" asp-action="PostResetPassword" asp-route-id="@Model.Id" method="post">
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn pa-admin-success-btn">Reset password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

