@if (User.IsInRole("Administrator"))
{
    <div class="col-12 col-md-3">
        <ul class="nav nav-pills flex-column" id="settings-navbar">
            <li class="nav-item"><a class="nav-link cursor-pointer option @ManageSettingsNav.IndexNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Settings' })">Site name</a></li>
            <li class="nav-item"><a class="nav-link cursor-pointer option @ManageSettingsNav.ImportPluginsNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Settings/ImportPlugins' })">Import plugins</a></li>
            <li class="nav-item"><a class="nav-link cursor-pointer option @ManageSettingsNav.ExportPluginsNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Settings/ExportPlugins' })">Export plugins</a></li>
            <li class="nav-item"><a class="nav-link cursor-pointer option @ManageSettingsNav.PluginsRenameNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Settings/PluginsRename' })">Renamed plugins</a></li>
            <li class="nav-item"><a class="nav-link cursor-pointer option @ManageSettingsNav.ProductsNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Settings/Products' })">Products</a></li>
            <li class="nav-item"><a class="nav-link cursor-pointer option @ManageSettingsNav.CategoriesNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Settings/Categories' })">Categories</a></li>
            <li class="nav-item"><a class="nav-link cursor-pointer option @ManageSettingsNav.PreferencesNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Settings/Preferences' })">Preferences</a></li>
        </ul>
    </div>
}

@if (User.IsInRole("Developer"))
{
    <div class="col-12 col-md-3">
        <ul class="nav nav-pills flex-column" id="settings-navbar">
            <li class="nav-item"><a class="nav-link cursor-pointer option @ManageSettingsNav.ExportPluginsNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Settings/ExportPlugins' })">Export plugins</a></li>
            <li class="nav-item"><a class="nav-link cursor-pointer option @ManageSettingsNav.PluginsRenameNavClass(ViewContext)" onclick="EnsurePreserved(() => { window.location.href = '/Settings/PluginsRename' })">Renamed plugins</a></li>
        </ul>
    </div>
}

