@model List<NameMapping>
@{
    var modal = new ModalMessage 
    { 
        ModalType = ModalType.ConfirmationMessage,
        Title = "Confirmation"
    };
}

@for (int i = 0; i < Model.Count; i++)
{
    <tr class="table-row">
        <td>
            <input class="form-control" hidden="hidden" asp-for="@Model[i].Id">
            <p class="m-0">@Model[i].Id</p>
        </td>
        <td class="editable-field">
            <input class="form-control form-control-sm name-mapping-input name-mapping-input-nofocus" hidden="hidden" asp-for="@Model[i].OldName">
            <p class="m-0 name-mapping w-100">@Model[i].OldName</p>
        </td>
        <td class="editable-field">
            <input class="form-control form-control-sm name-mapping-input name-mapping-input-nofocus" hidden="hidden" asp-for="@Model[i].NewName">
            <p class="m-0 name-mapping w-100">@Model[i].NewName</p>
        </td>
        <td class="icon-cell text-center">
            <i class="fa fa-pen-alt text-secondary cursor-pointer"></i>
            <i class="fa fa-check-circle text-success cursor-pointer d-none"></i>
        </td>
        <td class="icon-cell text-center">
            <i id="@Model[i].Id" class="fa fa-trash-alt name-mapping-eraser text-danger cursor-pointer"></i>
            <i class="fa fa-times-circle text-danger cursor-pointer d-none"></i>
        </td>
    </tr>
}