@model AppStoreIntegrationService.Model.PluginVersion;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div id="pluginVersionContainer">
    <input hidden asp-for="@Model.IsPrivatePlugin" value="true" />
    <input hidden asp-for="@Model.Id" />
    <h6 class="mb-3 ml-lg-3 bold-text">@Model.VersionName</h6>
    <div id="versionDetails" class="m-0 ml-lg-3">
        <div class="row">
            @*<input hidden asp-for="@Model.SelectedProductId" />*@
            <input hidden asp-for="@Model.VersionName" />
            <input hidden asp-for="@Model.TechnicalRequirements" />
            <input hidden asp-for="@Model.SelectedProduct.Id" />
            <input hidden asp-for="@Model.SelectedProduct.ProductName" />
            <input hidden asp-for="@Model.SelectedProduct.ParentProductID" />
            <input hidden asp-for="@Model.SelectedProduct.MinimumStudioVersion" />

            @for (int i = 0; i < Model.SupportedProducts.Count; i++)
            {
                <input hidden asp-for="@Model.SupportedProducts[i].Id" />
                <input hidden asp-for="@Model.SupportedProducts[i].ParentProductID" />
                <input hidden asp-for="@Model.SupportedProducts[i].ProductName" />
                <input hidden asp-for="@Model.SupportedProducts[i].MinimumStudioVersion" />
            }
            <div class="form-group d-flex align-content-center col-12 p-0">
                <label class="col-5 m-0 align-self-center" asp-for="@Model.VersionNumber">Version Number <span class="field-validation-error">*</span></label>
                <input asp-for="@Model.VersionNumber" class="form-control col-7" />
            </div>
            <div class="form-group d-flex align-content-center col-12 p-0">
                <label class="col-5 m-0 align-self-center" asp-for="@Model.MinimumRequiredVersionOfStudio">Minimum Studio Version <span class="field-validation-error">*</span></label>
                <input asp-for="@Model.MinimumRequiredVersionOfStudio" class="form-control col-7" />
            </div>
            <div class="form-group d-flex align-content-center col-12 p-0">
                <label class="col-5 m-0 align-self-center" asp-for="@Model.DownloadUrl">Download URL <span class="field-validation-error">*</span></label>
                <input asp-for="@Model.DownloadUrl" class="form-control col-7" />
            </div>
            <div class="form-check d-flex align-content-center col-12 p-0 mb-3">
                <label class="col-5 m-0" asp-for="@Model.IsNavigationLink">Is navigation link</label>
                <input asp-for="@Model.IsNavigationLink" type="checkbox" class="m-0 align-self-center p-3" />
            </div>
            <div class="form-check d-flex align-content-center col-12 p-0 mb-3">
                <label class="col-5 m-0" asp-for="@Model.AppHasStudioPluginInstaller">Has plugin extension</label>
                <input asp-for="@Model.AppHasStudioPluginInstaller" type="checkbox" class="m-0 align-self-center p-3" />
            </div>
            <div class="form-group d-flex align-content-center col-12 p-0">
                <label class="col-5 m-0 align-self-center" asp-for="@Model.SelectedProductId">Product <span class="field-validation-error">*</span></label>
                @if (Model.IsNewVersion)
                {
                    <select asp-for="@Model.SelectedProductId" asp-items="@Model.SupportedProductsListItems" class="form-control col-7"></select>
                }
                else
                {
                    <input disabled value="@Model.SupportedProducts.First().ProductName" class="form-control col-7" />
                }

            </div>
        </div>
    </div>

</div>
