@inject ICompositeViewEngine Engine
@inject ISettingsRepository repository;
@{
    var siteName = (await repository.GetSettings()).Name;
    var logoImage = Context.Request.Cookies["LogoImage"];
    var fontFamily = Context.Request.Cookies["FontFamily"];
    var engine = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
    var googleFontFormat = "https://fonts.googleapis.com/css2?family={0}&display=swap";
    var fontFamilyLink = string.Format(googleFontFormat, string.IsNullOrEmpty(fontFamily) ? "Roboto" : fontFamily);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PA Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/configtool.css" asp-append-version="true" />
    <link rel="stylesheet" id="GoogleFont" href="@fontFamilyLink" />
</head>

<script type="text/javascript">
    document.documentElement.style.setProperty('--pa-admin-color', '@Context.Request.Cookies["BackgroundColor"]')
    document.documentElement.style.setProperty('--pa-admin-color-hover', '@Context.Request.Cookies["BackgroundColor"]');
    document.documentElement.style.setProperty('--pa-admin-foreground', '@Context.Request.Cookies["ForegroundColor"]');
    document.documentElement.style.setProperty('--pa-admin-fontsize', '@Context.Request.Cookies["FontSize"]px');
    document.documentElement.style.setProperty('--pa-admin-fontfamily', '@Context.Request.Cookies["FontFamily"]');
</script>

<body class="d-flex flex-column min-vh-100">
    <header class="border-bottom box-shadow mb-3">
        <div class="row d-flex justify-content-center">
            <nav class="navbar navbar-expand-lg navbar-light col-11 col-lg-8 px-0">
                <img id="LogoImage" class="me-2" width="@(string.IsNullOrEmpty(logoImage) ? "0" : "75")" src="@logoImage" />
                <h2 class="nav-link active m-0 p-0 fs1-inherit">PA Admin @(string.IsNullOrEmpty(siteName) ? "" : $"- {siteName}")</h2>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarSupportedContent">
                    @if (engine.Success && new[] { "Login", "PostLogin" }.All(action => action != ViewContext.RouteData.Values["action"].ToString()))
                    {
                        <partial name="_LoginPartial" />
                    }
                </div>
            </nav>
        </div>
    </header>
    <div class="container px-2">
        <partial name="_CookieConsentPartial" optional />
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="mt-auto border-top text-muted d-flex justify-content-center p-3">
        <div>
            &copy; @DateTime.Now.Year - PA Admin
        </div>
    </footer>

    <script src="~/js/CommonScript.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>