@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <p class="text-break m-0">@Model</p>
    </div>

    <script type="text/javascript">
        @{
            var tuple = (Tuple<bool, bool, bool, bool>)TempData["ManifestComparison"];
        }
        fileHash = '@TempData["Filehash"]';
        manifestCompareResult = 
        { 
            IsNameMatch:'@tuple.Item1',
            IsVersionMatch: '@tuple.Item2',
            IsMinVersionMatch: '@tuple.Item3',
            IsMaxVersionMatch: '@tuple.Item4'
        };
    </script>
}

